extends layout
block content
    div#title=question.title
    div#message=question.message
    ul#errors
    form#editForm(action="/" method="post" style="display:none")
        input#title(type="text" name="title" placeholder="title")
        input#message(type="text" name="message" placeholder="message")
        input#edit-submit(type="submit" value="submit")
    form#commentForm(action="/" method="post" style="display:none")
        input(type="text" name="message" placeholder="message")
        input#comment-submit(type="submit" value="submit")
    form#answerForm(action="/" method="post" style="display:none")
        input(type="text" name="message" placeholder="message")
        input#answer-submit(type="submit" value="submit")

    ul.answers
        each Answer in question.Answers
            li=Answer.message

    ul.comments
        each Comment in question.Comments
            li=Comment.message

    if session.auth
        div
            button.answer(id=question.id) Answer
            button.comment(id=question.id) Comment
        if session.auth.userId === question.userId
            button.delete(id=question.id) Delete
            button.edit(id=question.id) Edit

    script(src='../javascripts/index.js' type='module')
    //- each answer in questions.
