extends layout
block content
    link(rel="stylesheet" href="/stylesheets/pages/question-page.css")
    div.content
        div(id=`question-${question.id}` class='question')
            .question_header
                h1#title=question.title
                .question_info
                    .question_info_item Asked: #{question.createdAt}
                    .question_info_item Updated: #{question.updatedAt}
            .post_layout
                .upper_container
                    .votes_container
                        if !votedOnQuestion && session.auth
                            button(id=`question-${question.id}-upvote-button` class = "question-upvote-button upvote-button") Upvote
                        div(id=`question-${question.id}-vote-count`)=questionVoteCount
                        if !votedOnQuestion && session.auth
                            button(id=`question-${question.id}-downvote-button` class = "question-downvote-button downvote-button") Downvote
                        p#message=question.message
                .comments_container
                    each comment in question.Comments
                         div(id=`comment-${comment.id}` class='comment')
                            span(id=`comment-${comment.id}-author`) #{comment.author}:  #{comment.message}
                            button(id=`comment-${comment.id}-delete-button` class='comment-delete-button delete-button') Delete
                            button(id=`comment-${comment.id}-edit-button` class='comment-edit-button edit-button') Edit
                    .post_buttons
                        if session.auth
                            button(id=`question-${question.id}-answer-button` class="question-answer-button answer-button") Answer
                            button(id=`question-${question.id}-comment-button` class="question-comment-button comment-button") Comment
                            if session.auth.userId === question.userId
                                button(id=`question-${question.id}-delete-button` class="question-delete-button delete-button") Delete
                                button(id=`question-${question.id}-edit-button` class="question-edit-button edit-button") Edit
                form#question-form(style="display:none")
                    input(type="text" name="title" placeholder="title")
                    input(type="text" name="message" placeholder="message")
                    input#question-submit.submit(type="submit" value="submit")

        .answers
            .answer_header
                span Answers
            each answer in question.Answers
                div(id=`answer-${answer.id}` class='post_layout')
                    .upper_container
                        .votes_container
                            if !votedAnswerIdsObject[answer.id] && session.auth
                                button(id=`answer-${answer.id}-upvote-button` class = "answer-upvote-button upvote-button") Upvote
                            div(id=`answer-${answer.id}-vote-count` class='answer-vote-count')=answer.voteCount
                            if !votedAnswerIdsObject[answer.id] && session.auth
                                button(id=`answer-${answer.id}-downvote-button` class = "answer-downvote-button downvote-button") Downvote
                        .message_container
                            p(id=`answer-${answer.id}-author`)=answer.author + ": " + answer.message
                            //- p(id=`answer-${answer.id}-message`)=answer.message
                    div(id=`answer-${answer.id}-comments` class='comments_container')
                        each comment in answer.Comments
                            div(id=`comment-${comment.id}` class='comment')
                                span(id=`comment-${comment.id}-author`)=comment.author + ": " + comment.message
                                //- span(id=`comment-${comment.id}-message`)=comment.message
                                button(id=`comment-${comment.id}-delete-button` class="comment-delete-button delete-button") Delete
                                button(id=`comment-${comment.id}-edit-button` class="comment-edit-button edit-button") Edit
                        .post_buttons
                            if session.auth
                                button(id=`answer-${answer.id}-comment-button` class="answer-comment-button comment-button") Comment
                                if session.auth.userId === question.userId
                                    button(id=`answer-${answer.id}-delete-button` class="answer-delete-button delete-button") Delete
                                    button(id=`answer-${answer.id}-edit-button` class="answer-edit-button edit-button") Edit
    script(src='../javascripts/index.js' type='module')
