div#title=question.title
div#message=question.message
div#question-vote-count=questionVoteCount
ul#errors
form#edit-form(action="/" method="post" style="display:none")
    input#title(type="text" name="title" placeholder="title")
    input#message(type="text" name="message" placeholder="message")
    input#edit-submit(type="submit" value="submit")
form#comment-form(action="/" method="post" style="display:none")
    input(type="text" name="message" placeholder="message")
    input#comment-submit(type="submit" value="submit")
form#answer-form(action="/" method="post" style="display:none")
    input(type="text" name="message" placeholder="message")
    input#answer-submit(type="submit" value="submit")

form#edit-answer-form(action="/" method="post" style="display:none")
    input(type="text" name="message" placeholder="message")
    input#edit-answer-submit(type="submit" value="submit")
ul.answers
    each Answer in question.Answers
        li(id=`answer-${Answer.id}`)=Answer.message
            div#answer-vote-count=1
            button(id=`upvote-answer-${Answer.id}` class = "upvote-answer") Upvote
            button(id=`downvote-answer-${Answer.id}` class = "downvote-answer") Downvote
            if session.auth.userId === Answer.userId
                button(id=`delete-answer-${Answer.id}` class="delete-answer") Delete
                button(id=`edit-answer-${Answer.id}` class="edit-answer") Edit
form#edit-comment-form(action="/" method="post" style="display:none")
    input(type="text" name="message" placeholder="message")
    input#edit-comment-submit(type="submit" value="submit")
ul.comments
    each Comment in question.Comments
        li(id=`comment-${Comment.id}`)=Comment.message
            if session.auth.userId === Comment.userId
                button(id=`delete-comment-${Comment.id}` class="delete-comment") Delete
                button(id=`edit-comment-${Comment.id}` class="edit-comment") Edit

if session.auth
    div
        button(id=`answer-question-${question.id}` class="answer-question") Answer
        button(id=`comment-question-${question.id}` class="comment-question") Comment
        button(id=`upvote-question-${question.id}` class = "upvote-question") Upvote
        button(id=`downvote-question-${question.id}` class = "downvote-question") Downvote
        if session.auth.userId === question.userId
            button(id=`delete-question-${question.id}` class="delete-question") Delete
            button(id=`edit-question-${question.id}` class="edit-question-button") Edit

    script(src='../javascripts/index.js' type='module')
