extends layout
block content
    link(rel="stylesheet" href="/stylesheets/questions.css")
    H1.questions_title All Questions

    div.questions
        if questions.length
            each question in questions
                div.question
                    a(href=`/questions/${question.id}`) #{question.title}
        else
            p No questions yet.
        - var i = 0;
        - var amountOfPages = amountOfQuestions / 3;

        if pageNumber < 5
            if 0 < prevPage
                a(href=`/questions?page=${prevPage}`) Prev
            while i < 5
                - ++i
                a(href=`/questions?page=${i}`) Page #{i}
            p ...
            a(href=`/questions?page=${i}`) Last Page
            if i >= nextPage
                a(href=`/questions?page=${nextPage}`) Next
        else
            a(href=`/questions?page=${prevPage}`) Prev
            a(href=`/questions?page=${1}`) First page
            p ...
            if pageNumber >= 5
                a(href=`/questions?page=${pageNumber - 2}`) Page #{pageNumber - 2}
                a(href=`/questions?page=${pageNumber - 1}`) Page #{pageNumber - 1}
                a(href=`/questions?page=${pageNumber}`) Page #{pageNumber}
                a(href=`/questions?page=${pageNumber + 1}`) Page #{pageNumber + 1}
                a(href=`/questions?page=${pageNumber + 2}`) Page #{pageNumber + 2}
                p ...
                a(href=`/questions?page=${i}`) Last Page
                a(href=`/questions?page=${nextPage}`) Next
            else
                a(href=`/questions?page=${pageNumber - 4}`) Page #{pageNumber - 4}
                a(href=`/questions?page=${pageNumber - 3}`) Page #{pageNumber - 3}
                a(href=`/questions?page=${pageNumber - 2}`) Page #{pageNumber - 2}
                a(href=`/questions?page=${pageNumber - 1}`) Page #{pageNumber - 1}
                a(href=`/questions?page=${pageNumber}`) Page #{pageNumber}
